<!DOCTYPE html>
<html>
<head>
    <title>Lista de Lesões</title>
</head>
<body>
    <h1>Lesões cadastradas</h1>
    <table border= "1">
        <tr>
            <th>Nome</th>
            <th>Parte Afetada</th>
            <th>Intensidade</th>
            <th>Tempo de Recuperação</th>
        </tr>
        {% for item in dados %}
        <tr>
            <td>{{ lesao.nome }}</td>
            <td>{{ lesao.parte_afetada }}</td>
            <td>{{ lesao.intensidade }}</td>
            <td>{{ lesao.tempo_medio_recuperacao}}</td>
        </tr>
    	{% empty %}
        <tr>
            <td colspan="4">Nenhuma lesão cadastrada.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html